body {
    background-color: #EEF1FF;
}
hr {
    border-style: none;
    border-top-style: dotted ;
    width: 8%;
    border-width: 2px;
    color: gray;
}
h1{
    color: #66bfbf;
}
h2{
    color: #66bfbf;
}
h3{
    color: #66bfbf;
}
a {
    color: rgb(255, 0, 98);
}